<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.easy30.easymybatis.test1.UserMapper">

    <select id="getByIdWithXml" parameterType="long"  resultType="com.github.easy30.easymybatis.test1.User">
       select * from user where id = #{id}
    </select>

    <select id="listWithXml"  resultType="com.github.easy30.easymybatis.test1.User">
       select * from user where  name=#{name} and age>=#{age}
    </select>

    <select id="listWithXml2"  resultType="com.github.easy30.easymybatis.test1.User">
       select * from user where  name=#{aaa.bbb.name} and age>=#{age}
    </select>

    <select id="pageInXML"  resultType="com.github.easy30.easymybatis.test1.User">
       select * from user where  age>=#{age}
    </select>
    <insert id="inserts" useGeneratedKeys="false">
        insert into user(name,age,real_name) values ('aa',12,'aaaa'),('bbb',99,'bbbbbb')
    </insert>

</mapper>
